<ion-view class="login-view">
    <ion-nav-title>Login</ion-nav-title>
    <ion-content class="padding">
        <form ng-submit="login(user)">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Username" ng-model="user.username">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="user.password">
                </label>
            </div>
            <button type="submit" class="button button-block button-positive">Login</button>
        </form>
    </ion-content>
</ion-view>