
<ion-view>
    <ion-nav-title>{{ splitContact.name }}</ion-nav-title>
    <ion-nav-buttons side="secondary">
        <button class="button" ng-click="save_click()">Save</button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Owes</span>
                <input type="number" ng-model="splitContact.owes">
            </label>
            <label class="item item-input">
                <span class="input-label">Paid</span>
                <input type="number" ng-model="splitContact.paid">
            </label>
            <label class="item item-input">
                <span class="input-label">IBAN</span>
                <input type="text" ng-model="splitContact.iban">
            </label>
            <label class="item item-input">
                <span class="input-label">Address</span>
                <input type="text" ng-model="splitContact.address">
            </label>
            <label class="item">
                <span class="input-label">Comments</span>
                <textarea style="width:100%;height:100px;" ng-model="splitContact.comments"></textarea>
            </label>
        </div>
    </ion-content>
</ion-view>