# Visual Studio user-specific files
*.suo
*.user
*.docstates
*/.vs/*
.vs/*

# Build working directories
PayMeBack.Frontend/bin
PayMeBack.Frontend/bld
PayMeBack.Frontend/platforms

# Include plugin sub-directories, but not top level files (except for fetch.json)
PayMeBack.Frontend/plugins/*
!PayMeBack.Frontend/plugins/*/
!PayMeBack.Frontend/plugins/fetch.json

# Local nu-get packages
PayMeBack.Frontend/packages/*/

# NodeJS dependencies
PayMeBack.Frontend/node_modules

# Bower dependencies
PayMeBack.Frontend/bower_components

# Build-time variables
PayMeBack.Frontend/www/scripts/BuildVars.js

# Windows thumbnail cache
Thumbs.db

# Windows folder config
Desktop.ini

# Nuget Packages
packages/