
<ion-view>
    <ion-nav-title>{{ split.name }}</ion-nav-title>
    <ion-content class="padding">
        <div class="item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-person placeholder-icon"></i>
                <input type="text" placeholder="Add someone by email" ng-model="form.contactEmailToAdd">
            </label>
            <button class="button icon ion-plus-round" ng-click="addContact()"></button>
        </div>
        <ion-list>
            <ion-item ng-repeat="splitContact in splitContacts track by splitContact.id" ui-sref="splitContactView({splitId: {{ split.id }}, splitContactId: {{ splitContact.id }} })">
                {{splitContact.name}}
            </ion-item>
        </ion-list>
        <div style="text-align: center; margin-top: 20px;">
            <button class="button button-balanced" ng-click="goToSettle()">Settle</button>
        </div>
    </ion-content>
</ion-view>