
<ion-view title="{{ split.name }}">
    <ion-content class="padding">
        <div class="item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-person placeholder-icon"></i>
                <input type="text" placeholder="Add someone by email" ng-model="form.contactEmailToAdd">
            </label>
            <button class="button icon ion-plus-round" ng-click="addContactClick()"></button>
        </div>
        <ion-list>
            <ion-item ng-repeat="contact in contacts track by contact.id">
                {{contact.email}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>