
<ion-view>
    <ion-nav-title>{{ splitContact.name }}</ion-nav-title>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Owes</span>
                <input type="number" ng-model="splitContact.owes">
            </label>
            <label class="item item-input">
                <span class="input-label">Paid</span>
                <input type="number" ng-model="splitContact.paid">
            </label>
            <label class="item">
                <span class="input-label">Comments</span>
                <textarea style="width:100%;height:100px;" ng-model="splitContact.comments"></textarea>
            </label>
            <div style="text-align: center; margin-top: 20px;">
                <button class="button button-balanced" ng-click="save_click()">Save</button>
            </div>
        </div>
    </ion-content>
</ion-view>