<ion-view title="Splits">
    <ion-nav-buttons side="primary">
        <button class="button button-icon" ng-click="add_click()">
            <i class="icon ion-plus-round"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <ion-item ng-repeat="split in splits track by split.id" ui-sref="splitView({splitId: {{ split.id }} })">
                {{ split.name }}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>